@import '../../styles/colors.scss';

.header-background {
  background: rgba($color: #000000, $alpha: 0.7);
  max-height: 20em;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  overflow-y: hidden;
  .container {
    width: 80%;
    padding: 2em 0;
  }

  .background-image {
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
    object-fit: cover;
    filter: blur(0.2em);
  }
}
