@import '../../styles/colors';

$opacityColor: rgba(
  $color: $fontColor,
  $alpha: 0.7,
);

$opacityColorSecond: rgba(
  $color: $fontColor,
  $alpha: 0.4,
);

.item {
  color: $opacityColor;
  .image {
    width: 100%;
    margin-top: 2em;
  }
  .title {
    font-weight: bold;
  }
  .date {
    padding: 0.5em 1.1em;
    border: 0.05em solid $opacityColorSecond;
    border-radius: 0.8em;
    margin: 0.1em;
  }
  .container {
    display: flex;
    justify-content: space-between;
    margin-top: 0.8em;
    align-items: center;
    min-height: 2.5em;
  }
  .genre-list {
    margin-top: 0.5em;
  }
  .genre {
    display: inline-block;
    color: $opacityColorSecond;
    margin-right: 0.4em;
  }
}
