@import '../../styles/colors.scss';

$borderRadiusSize: 0.3em;

.root {
  color: $fontColor;
  width: 100%;
  button {
    border: none;
    color: $fontColor;
    text-transform: uppercase;
  }
  .label {
    font-size: 2em;
    margin: 0.4em 0;
  }
  .label,
  .search-by {
    font-weight: 100;
    text-transform: uppercase;
  }
  .search-form {
    display: flex;
    justify-content: stretch;
    .search-text,
    .search-button {
      font-size: 1.4em;
      border-radius: $borderRadiusSize;
    }
    .search-text {
      color: $fontColor;
      width: 100%;
      margin-right: 0.5em;
      border: none;
      background-color: rgba($color: $primaryColor, $alpha: 0.8);
      padding: 0.5em 1em;
    }
    .search-button {
      padding: 0.5em 2em;
      background-color: $secondaryFontColor;
      cursor: pointer;
    }
  }
  .search-by {
    font-size: 0.9em;
    margin: 1.3em 0;
    span {
      padding-right: 1em;
    }
    .by-title {
      border-radius: $borderRadiusSize 0em 0em $borderRadiusSize;
    }
    .by-genre {
      border-radius: 0 $borderRadiusSize $borderRadiusSize 0;
    }
    .by-genre,
    .by-title {
      font-size: 0.9em;
      padding: 0.5em 2em;
      background-color: rgba($color: $tertiaryColor, $alpha: 0.6);
      cursor: pointer;
      &:hover {
        background-color: $secondaryFontColor;
      }
    }
    .active {
      background-color: $secondaryFontColor;
    }
  }
}
